Django
apiclient==1.0.2
PIL
argparse==1.2.1
args==0.1.0
dateutils==0.6.6
decorator==3.4.0
django-cache-panel==0.1
django-debug-toolbar==0.9.4
django-extensions==1.0.0
django-haystack==2.0.0
django-log-request-id==1.0.0
django-olwidget==0.60.3
django-passwords==0.2.0
django-simple-captcha==0.3.6
django-storages==1.1.5
django-templatetag-handlebars==1.2.0
django-tinymce==1.5.1
djorm-ext-pool==0.5
gunicorn==0.16.1
ipdb==0.8
ipython==0.13.1
pyflakes==0.5.0
python-Levenshtein==0.11.2
python-dateutil==2.1
python-logstash==0.4.2
python-ptrace==0.6.4
pytz==2013.7
requests==1.1.0
simplejson==3.3.0
supervisor==3.0a8
django-ratelimit==0.6.0
django-mptt == 0.5.2
django-endless-pagination==2.0
python-jwt==1.2.1
